# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
venv/
ENV/
.env

# 日志
*.log
logs/

# 临时文件
*.tmp
*.temp
temp/
tmp/

# 测试文件
test_*
baidu_test/
downloaded_test_file.txt/

# 其他
.DS_Store
.idea/
.vscode/
openwebui/
baidu_pan.py